.fileupload {
  margin-top: 50px;
  align-items: center;
  padding: 10px;
  .fileupload_imgbox {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 10px;
    button {
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: gray;
      }
    }
  }
  .fileupload_text {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      cursor: pointer;
      font-size: 50px;
      span {
        cursor: pointer;

        font-size: 20px;
      }
    }
  }
}
